<div>
    <form action="" (ngSubmit)="changeDetail(detailForm)" #detailForm="ngForm">
        <div class="form-group">
            <label for="Product Code">Product Code:</label>
            <input type="text" class="form-control" name="productCode" id="productCode" [(ngModel)]="product.productCode" aria-describedby="producthelpId" placeholder="Product Code">
            <small id="producthelpId" class="form-text text-muted">Product code is required</small>
        </div>
        <div class="form-group">
            <label for="Product Name">Product Name:</label>
            <input type="text" class="form-control" name="productName" id="productName" [(ngModel)]="product.productName" aria-describedby="productNamehelpId" placeholder="Product Name">
            <small id="productNamehelpId" class="form-text text-muted">Product code is required</small>
        </div>
        .
        <div class="form-group">
            <button class="btnbtn-primary">Upadate</button>
        </div>
    </form>
    <hr>
    <p>{{ product | json}}</p>
</div>
